.villager-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exterior-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.interior-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div img {
  height: 150px;
  object-fit: contain;
}
